body {
font-family: 'Ubuntu', sans-serif;
background-color: #DEDFE3;
margin: 0;
}

.main.navbar {
    background-color: #041E43;
    border-bottom: 1px solid #DEDFE3;
}


.navbar-nav .nav-link {
    color: #E03C00;
}

.navbar-nav .nav-link:hover {
    color: OrangeRed;
}

.navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #E03C00;
}

.navbar-brand.abs:hover {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: OrangeRed;
}

.active{
border-bottom: 3px solid red;
}


.statsbar a:hover{
border-bottom: 3px solid red;
}

.statsbar.navbar {
margin: 2% 0;
background-color: #B0B3BC;
border: 1px solid black;

}

.statsbar .navbar-nav .nav-link {
    color: #041E43;
}


.statsbar.navbar-nav > li {
  padding-left:25px;
  padding-right:25px;
}


.header {
  margin: 0;
  text-align: center;
  background-color: #041E43;
  color: white;

}

.click{
padding: 3% 0;
}

.main{
color: #DEDFE3;
}

.main2{
color: #DEDFE3;
padding: 2% 0 0 0;
}

.main3 {
color: #DEDFE3;
padding: 0
}

h1{
  padding: 5% 0 0 0;
  text-align: center;
  color: #041E43;
}

.traded-header{
  padding: 5% 0 0 0;
  text-align: center;
  color: #041E43;
}

h2 {
text-align: center;
color: #041E43;
}

.team-name{
  padding: 2% 0 0 0;
  text-align: center;
  color: #041E43;
}

h3{
  padding: 5% 0 0 0;
  text-align: center;
  color: #041E43;
}

.WAR-pos{
  padding: 0 0 0 0;
  text-align: center;
  color: ForestGreen;
  font-weight: bold;
}

.WAR-neg{
  padding: 0 0 0 0;
  text-align: center;
  color: Sienna;
  font-weight: bold;
}

.stats-pos{
  padding: 0 0 0 0;
  text-align: center;
  color: ForestGreen;
}

.stats-neg{
  padding: 0 0 0 0;
  text-align: center;
  color: Sienna;
}

h6 {
text-align: center;
color: #041E43;
}

.col-md-7{
border-right: 5px solid red;
}

.about {
margin: 3% 0 0 0;
}

.about-text {
margin: 3% 0 0 0;
}

.contact {
margin: 9% 0 2% 0;
}

.contact-text{
margin: 3% 0
}

.error {
  padding: 5% 0 0 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.homeTable thead th {
    width: 50%;
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

.homeTable {
margin: 0 25%;
width: 50%;
text-align: center;
}

.statsTable {
border-right: none;
}

.dataTables_wrapper {
padding: 0 10%;
}

button {
width: 15%;
background-color: #041E43 !important;
}


button:hover {
background-color: #A33241 !important;
}

.navbar-toggler {
background-color: #A33241 !important;
 border-color: black !important;
}

.navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }


.dropdown-menu {
background-color: #DEDFE3 !important;

}

.form-control {
width: 50%;
margin: 5% auto 1% auto;
text-align: center;
border: 2px solid red;
border-radius: 4px;
}

.player-name-head {
font-size:large
}

.player-name {
color: #DEDFE3;
}

.traded-with {
color: CadetBlue;
font-style:italic;
font-size:small;
}

.traded-with-links {
color: CadetBlue;
font-style:italic;
font-size:small;
}

.traded-with-cash {
color: CadetBlue;
font-style:italic;
font-size:small;
}

.comp-pick {
color:Gold;
font-style:italic;
font-size:small;
}


.traded-to {
color:deepskyblue;
font-style:italic;
font-size:small;
}

.positive-war {
color:ForestGreen;
font-style:italic;
}

.negative-war {
color:Sienna;
font-style:italic;
}

.good-payroll {
color:ForestGreen;
font-style:italic;
font-size:small;
}

.bad-payroll {
color:Sienna;
font-style:italic;
font-size:small;
}

.outcome {
color: #717784;
font-style:italic;
}

.cash {
color:Crimson;
font-style:italic;
}

.myNodeClass {
background-color: #041E43;
color: #DEDFE3;
font-weight: bold;
width: 160px;
padding: 5px;
border: 1px solid black;
font-size: 15px !important;
}

.mySelectedNodeClass {
background-color: MidnightBlue;
}

.footer {
  margin: 10% 0 0 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 80%;
}

.wrap-collabsible {

  padding: 2% 0;
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {

margin: 0 31%;

  border-top: 2px solid #041E43;
  border-bottom: 0px solid #041E43;

  font-size:xx-large;
  font-weight: bold;
  text-align: center;
  color: #041E43;

  padding: 1% 5%;

  background: #DEDFE3;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: deepskyblue;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border-bottom: 0px solid black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

table.google-visualization-orgchart-table {
    border-collapse: separate;
}

