* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

html {
  background-color: #FFF8EC;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

table {
    margin-bottom: 5px;
}
table, td {
    border: 0.2px solid;
    border-color: grey;
  }

  td{
    padding: 0px 2px
  }

th {
    border: 0.2px solid;
    background-color:  lightgrey;
    border-color: black;
    padding: 0.5px 2px;

  }

table {
    border-collapse: collapse;
  }

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color:#005CA9;
    color: rgb(254, 254, 254);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.search{
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin-left: 10px;
}

.searchInput {
    width: 100%;
    height: 35px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2rem;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #FFF8EC;
    color: #0d0c22;
    transition: .3s ease;

  }

  .searchInput::placeholder{
    color: #9e9ea7;
  }

.searchInput:focus, .searchInput:hover{
  outline: none;
  border-color: #FD3C3C;
  background-color: #FFF8EC;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.searchResults {
    position:absolute;
    top:50px;
    width: 400px;
    height: 200px;
    z-index:2;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    overflow-y: scroll;
    border-radius: 8px;
  }

.searchResults::-webkit-scrollbar{
    display: none;
}

.searchResults:after {
    display: none;
}

.dataItem{
    padding: 5px;
    width: 100%;
    height: 30px;
    display:flex;
    align-items: center;
    color:black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.dataItem h4{
  margin-right: auto;
}

.dataItem p {
  color: goldenrod;
  font-weight: bold;
  font-size: 1em;
  margin-right: auto;
}

.dataItem h5{
  margin-left: auto;
  margin-right: 1%;
}

.dataItem h6{
  position: absolute;

  margin-left: 200px;
}

.dataItem:hover{
    background-color: #005CA9;
}

.navbar--random{
    font-size: 17px;
    background: transparent;
    color: #FFF8EC;
    border: solid 1px #FFF8EC;
    padding: 3px 10px;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.navbar--random:before {
  content: "» ";
  opacity: 0;
  margin-left: -15px;
  transition-duration: 0.2s;
 }
 
 .navbar--random:hover:before {
  margin-left: 0px;
  opacity: 1;
 }
 
 .navbar--random:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
 }


.navbar--menu {
    margin-left: auto;
}

.navbar--menu ul{
    display: flex;
    padding: 0;
}

.navbar--menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navButton{
  font-size: 18px;
  color: #FFF8EC;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navButton:focus,
.navButton:hover {
  color: #fff;
}

.navButton:focus:after,
.navButton:hover:after {
  width: 100%;
  left: 0%;
}

.navButton:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.navbar--hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #FFF8EC;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: none;
}

  .carousel{
    height: 550px;
    max-width: 70%;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.slick-slide {
  padding-left: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
}

@media screen and (max-width: 842px) {
  .navbar--hamburger {
      display: block;
  }

  .navbar--menu ul {
      display: none;
      position: absolute;
      top: 60px;
      right: 10px;
      z-index: 3;
      flex-direction: column;
      

      width: 200px;
      height: 100px;
      background-color: #005CA9;
      border-radius: 15px;

      display: none;
  }
  .navbar--menu li {
      text-align: center;
      margin: 0;
    }

  .navbar--menu.expanded ul {
      display: block;
      transition: 0.2s ease-in-out;
    }

    .search{
      margin-right: 0 !important;
    }
}

@media screen and (max-width: 1000px) {
  .carousel {
    max-width: 750px;
    height: 550px;
  }
  .slick-slide {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-left: auto !important;
    
  }
}

@media screen and (max-width: 820px) {
  .carousel {
    max-width: 600px;
    height: 550px;
  }
}

@media screen and (max-width: 650px) {
    .carousel {
      max-width: 300px;
      height: 550px;
    }

    .slick-slide {
      padding-left: 0 !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      margin-left: auto !important;
      
    }
    .slick-slide > div {
      transform: scale(0.9);
    }
    .dataItem h6{
      margin-left: 180px;
    }
    .searchResults {
      right: -125px !important;
      width: 350px;
    }

    div.ag-theme-alpine{
      width: 95% !important
    }

}

@media screen and (max-width: 650px) {
  .navbar--random{
    transform: scale(0.65); 
    margin: 5px 35px 5px 0;
  } 
}


.treeNode:hover{
  box-shadow: 0 5px 5px 10px rgba(9, 9, 9, 0.23);
}

a {
  color: black
}

.treeNode h1{
  color:black;
  background-color: #f1f1f1
}


.treeNode h1:hover {
  background-color: #ddd;
}

.treeNode h2{
  font-size: 2em;
}

.outcomeNode h1{
  color:black;
  background-color: #f1f1f1
}


.outcomeNode h1:hover {
  background-color: #ddd;
}

.outcomeNode h2{
  font-size: 2em;
}


.slick-dots{
  padding-bottom:30px !important;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: auto;
    background-color: #DFE0DF;
  }

  .footer--buttons{
    display:flex;
    justify-content: space-between;
    width:180px;
    margin-left:auto;
    margin-right: auto;
  }

.footer--retro{
    font-size:xx-small
}