* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

html {
  background-color: darkgray;
}

table {
    margin-bottom: 5px;
}
table, td {
    border: 0.2px solid;
    border-color: grey;
  }

  td{
    padding: 0px 2px
  }

th {
    border: 0.2px solid;
    background-color:  lightgrey;
    border-color: black;
    padding: 0.5px 2px;

  }

table {
    border-collapse: collapse;
  }


.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(8, 0, 96);
    color: rgb(254, 254, 254);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.searchInput {
    font-size: 18px;
    outline: black;
    padding: 10px;
    height: 30px;
    width: 160px;
  }

.searchResults {
    position:absolute;
    top:60px;
    width: 265px;
    height: 135px;
    z-index:1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }

.searchResults::-webkit-scrollbar{
    display: none;
}

.searchResults:after {
    display: none;
}

.dataItem{
    width: 100%;
    height: 30px;
    display:flex;
    align-items: center;
    color:black;
    text-decoration: none;
}

.dataItem:hover{
    background-color: lightgray;
}

.navbar--random{
    padding: 4px 10px;
    margin-top: 5=3px;
    margin-left: 15px;
    border-radius: 8px
}

.navbar--menu {
    margin-left: auto;
}

.navbar--menu ul{
    display: flex;
    padding: 0;
}

.navbar--menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navbar--hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: none;
}

.navbar--hamburger:hover {
    background-color: #2642af;
  }

@media screen and (max-width: 768px) {
    .navbar--hamburger {
        display: block;
    }
    .navbar--menu ul {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
   
        flex-direction: column;

        width: 25%;
        height: calc(100vh - 77px);
        background-color: white;
        border-top: 1px solid black;

        display: none;
    }
    .navbar--menu li {
        text-align: center;
        margin: 0;
      }

    .navbar--menu.expanded ul {
        display: block;
      }
}

.treeNode:hover{
  box-shadow: 0 5px 5px 10px rgba(9, 9, 9, 0.23);
}

a {
  color: black
}

.treeNode h1{
  color:black;
  background-color: #f1f1f1
}


.treeNode h1:hover {
  background-color: #ddd;
}

.treeNode h2{
  font-size: 2em;
}

.outcomeNode h1{
  color:black;
  background-color: #f1f1f1
}


.outcomeNode h1:hover {
  background-color: #ddd;
}

.outcomeNode h2{
  font-size: 2em;
}

.footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    text-align: center;
    margin-top: auto;
  }

.footer--retro{
    font-size:xx-small
}