
.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.playerHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% auto 1% auto;
}
