.PlayerBar {
    margin: 1% auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 30px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

}

.playerTeamTree{
    display: flex;
    justify-content: space-around;
    width: 95%;
    align-items: center;
}

.wsWins {
    width:15px;
    height:25px;
    margin-bottom: 1%;
}

.playerName{
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    width: auto;
    padding: 5px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    margin-right:auto
}

.playerName:hover{
    background-color: #ddd;
    color: black;
}

.parentTree{
    font-size: 0.9em;
    text-decoration: none;
    display: flex;
    padding: 6px 8px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.parentTree:hover{
    background-color: #ddd;
    color: black;
}

.noParent {
    margin-left: 10%;
}

.teamHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.teamLogo{
    width:"100px";
    height:"100px";
    margin-right: 7px;
}

.teamName {
    margin-right:1px;
}


.otherStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5%;
}

.allStats {
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    overflow-x: auto;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}

.statsTable {
    font-size: 0.8em;
}

@media (max-width: 420px) {

    .PlayerBar{
        width:100%;
        transform: scale(0.9)
    }
    .playerName{
        transform: scale(0.7)
    }

    .parentTree{
        transform: scale(0.7)

    }
    
    .teamHeader h1 {
        font-size: 1.3em;
    }
    .teamHeader h2 {
        font-size: 1em;
    }
    .otherStats{
        font-size: 0.7em;
    }
    .allStats {
        font-size: 0.6em;
    }
    .statsContainer {
        align-items:flex-start;
    }
    .allStats {
        justify-content:space-between;
    }

    /* .playerTeamTree{
        display: flex;
        justify-content: space-between;
    }

    .teamHeader h1 {
        font-size: 0.8em;
    }
    .teamHeader h2 {
        font-size: 0.8em;
    }

    .teamLogo {
        width: 50px; 
        height: 50px;
    }
    

    .parentTree{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6em;
        padding: 2px;
        margin-right: 1%;
    }

    .teamHeader{
        margin-left: 5%;
        margin-right:5%;
        justify-content: end;
        
    }

    .otherStats{
        font-size: 0.6em;
    }
    .noParent {
        margin-left: 15%;
    } */



    }