.PlayerBar {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

}

.playerHeader{
    display: flex;
    flex-direction: column;
    
}

.allStats {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.statsContainer {
    display: flex;
    flex-direction: column;
}

.statsTable {
    font-size: 0.5rem;
}
