.rosterPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.teamHeader{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.logoDiv{
  position: relative;
  width: 75px;
  height: 75px
}

.teamHeader h1{
  padding-top: 10px;
  margin-right: 10px;
}
.roster{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2%;
    width: 90%;
}

.posContainer{
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 900px) {
    .roster {
      flex-wrap: wrap;
      width: 100%;
    }
  }


