.treePage{
    display: flex;
    flex-direction: column;
}

.treeContainer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1%;
    width: 90%;
    height:550px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.statTable{
    background-color: white;
}

.statsContainer {
    border-bottom: 1px solid black;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;

    padding-bottom: 2%;
}

.statBoxIn{
   width:50%;
}

.statBoxOut{
    width:50%
}

.tableHeader{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1%;
    background-color: white;
}

@media (max-width: 600px) {
    .statsContainer {
      flex-direction: column;
    }
  }

.statBoxOut {
    margin-right: 5px;
    overflow-x:auto;
}

.statBoxIn {
    overflow-x:auto;
}

.statTable{
    font-size: 0.5rem;
}

.statTable th{
    text-align: left;
}

.statTable tr:hover {
    background-color: lightblue;
}


