.treePage{
    display: flex;
    flex-direction: column;
}

.treeContainer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1%;
    width: 90%;
    height:65vh;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}


.statsContainer {
    border-bottom: 1px solid black;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 2%;
}

.tableHeader{
    width: 65%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    margin-bottom: 1%;
    background-color: white;
}

.statBoxOut {
    width:50%;
    margin-right: 5px;
    overflow-x:auto;
}

.statBoxIn {
    width:50%;
    overflow-x:auto;
}

.statTable{
    font-size: 0.8rem;
    width:100%;
    background-color: white;
    
}

.statTable th{
    text-align: left;
}

.statTable tr:hover {
    background-color: lightblue;
}


@media (max-width: 850px) {
    .statsContainer {
      flex-direction: column;
    }
    .statBoxOut, .statBoxIn {
        width:100%;
    }
  }


