<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MLB Trade Trees- Analyze Baseball Trades- Franchise Averages</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
  <link rel="stylesheet" href="../static/css/styles.css">
    {{ JSGlue.include() }}
</head>
<body>

<!-- NAVBAR-->
<nav class="main navbar navbar-expand-md">
    <div class="container-fluid">
    <a class="navbar-brand abs" href="/">MLB Trade Trees</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="collapseNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">New Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/random">Random Player</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Top Trees and Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">About | Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--END NAVBAR-->
<div class="container">
    <nav class="statsbar navbar navbar-expand-lg">
        <div class="mx-auto">
        <a class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatbar">
            Click to choose a stat
        </a>
        <div class="collapse navbar-collapse" id="collapseStatbar">
            <ul class="statsbar navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/stats/WARpos">Net WAR +</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats/WARneg">Net WAR -</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats/players">Total Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats/transactions">Total Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats/year-span">Year Span</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats/ongoing">Ongoing Trees</a>
                </li>
                <li class="nav-item">
                    <a class="active nav-link" href="/stats/franchises">Franchise Averages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats/tree-search">All Trees</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<table border="1" class="dataframe statsTable table table-striped" id="franchises">
  <thead>
    <tr style="text-align: left;">
      <th>Franchise</th>
      <th>Teams</th>
      <th># Trees</th>
      <th>Average Tree WAR</th>
      <th>Total WAR</th>
      <th>Highest WAR Tree</th>
      <th>Highest WAR Link</th>
      <th>Average # Players</th>
      <th>Average # Transactions</th>
      <th>Average Year Span</th>
      <th>Longest Tree (Years)</th>
      <th>Longest Tree Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BRAVES</td>
      <td>[Boston Braves, Milwaukee Braves, Atlanta Braves]</td>
      <td>710</td>
      <td>0.1660</td>
      <td>117.88</td>
      <td>63.23</td>
      <td><a href=/player/alexd001>alexd001</a></td>
      <td>8.7577</td>
      <td>2.4352</td>
      <td>4.5099</td>
      <td>28</td>
      <td><a href=/player/yeara101>yeara101</a></td>
    </tr>
    <tr>
      <td>REDS</td>
      <td>[Cincinnati Reds, Cincinnati Reds]</td>
      <td>707</td>
      <td>-0.8663</td>
      <td>-612.50</td>
      <td>51.29</td>
      <td><a href=/player/schla101>schla101</a></td>
      <td>6.8006</td>
      <td>2.0580</td>
      <td>3.9236</td>
      <td>25</td>
      <td><a href=/player/spilh001>spilh001</a></td>
    </tr>
    <tr>
      <td>LS2</td>
      <td>[Louisville Colonels]</td>
      <td>2</td>
      <td>-4.4400</td>
      <td>-8.88</td>
      <td>-4.44</td>
      <td><a href=/player/connj105>connj105</a></td>
      <td>3.5000</td>
      <td>1.5000</td>
      <td>2.0000</td>
      <td>4</td>
      <td><a href=/player/connj105>connj105</a></td>
    </tr>
    <tr>
      <td>ATLTCS</td>
      <td>[Philadelphia Athletics, Philadelphia Athletics, Kansas City Athletics, Oakland Athletics]</td>
      <td>728</td>
      <td>-5.1126</td>
      <td>-3721.96</td>
      <td>51.22</td>
      <td><a href=/player/mcgob101>mcgob101</a></td>
      <td>20.3393</td>
      <td>5.2129</td>
      <td>5.0316</td>
      <td>36</td>
      <td><a href=/player/heuse101>heuse101</a></td>
    </tr>
    <tr>
      <td>PIRATS</td>
      <td>[Pittsburgh Pirates, Pittsburgh Pirates]</td>
      <td>649</td>
      <td>-0.3117</td>
      <td>-202.28</td>
      <td>50.08</td>
      <td><a href=/player/obrij104>obrij104</a></td>
      <td>7.3143</td>
      <td>2.1109</td>
      <td>4.0940</td>
      <td>28</td>
      <td><a href=/player/may-m001>may-m001</a></td>
    </tr>
    <tr>
      <td>CARDS</td>
      <td>[St.Louis Cardinals, St. Louis Cardinals]</td>
      <td>809</td>
      <td>0.8734</td>
      <td>706.61</td>
      <td>102.08</td>
      <td><a href=/player/schmw101>schmw101</a></td>
      <td>11.5698</td>
      <td>3.2658</td>
      <td>4.2126</td>
      <td>41</td>
      <td><a href=/player/kutym101>kutym101</a></td>
    </tr>
    <tr>
      <td>GIANTS</td>
      <td>[New York Giants, San Francisco Giants]</td>
      <td>618</td>
      <td>0.8513</td>
      <td>526.13</td>
      <td>75.58</td>
      <td><a href=/player/rusia101>rusia101</a></td>
      <td>8.3301</td>
      <td>2.3236</td>
      <td>4.6375</td>
      <td>24</td>
      <td><a href=/player/fuent101>fuent101</a></td>
    </tr>
    <tr>
      <td>DOGRS</td>
      <td>[Brooklyn Dodgers, Brooklyn Dodgers, Los Angeles Dodgers]</td>
      <td>699</td>
      <td>1.0982</td>
      <td>767.65</td>
      <td>68.50</td>
      <td><a href=/player/evanr101>evanr101</a></td>
      <td>6.5994</td>
      <td>1.7639</td>
      <td>3.5222</td>
      <td>20</td>
      <td><a href=/player/nen-d101>nen-d101</a></td>
    </tr>
    <tr>
      <td>SL5</td>
      <td>[St. Louis Maroons]</td>
      <td>1</td>
      <td>-1.5000</td>
      <td>-1.50</td>
      <td>-1.50</td>
      <td><a href=/player/mckia101>mckia101</a></td>
      <td>3.0000</td>
      <td>1.0000</td>
      <td>1.0000</td>
      <td>1</td>
      <td><a href=/player/mckia101>mckia101</a></td>
    </tr>
    <tr>
      <td>WS8</td>
      <td>[Washington Senators]</td>
      <td>3</td>
      <td>-0.0533</td>
      <td>-0.16</td>
      <td>0.00</td>
      <td><a href=/player/whitj102>whitj102</a></td>
      <td>3.6667</td>
      <td>1.3333</td>
      <td>9.0000</td>
      <td>14</td>
      <td><a href=/player/hinep101>hinep101</a></td>
    </tr>
    <tr>
      <td>IN3</td>
      <td>[Indianapolis Hoosiers]</td>
      <td>2</td>
      <td>0.0000</td>
      <td>0.00</td>
      <td>0.00</td>
      <td><a href=/player/gardg102>gardg102</a></td>
      <td>2.5000</td>
      <td>1.0000</td>
      <td>1.5000</td>
      <td>3</td>
      <td><a href=/player/gardg102>gardg102</a></td>
    </tr>
    <tr>
      <td>KC2</td>
      <td>[Kansas City Cowboys]</td>
      <td>1</td>
      <td>-0.4000</td>
      <td>-0.40</td>
      <td>-0.40</td>
      <td><a href=/player/barks101>barks101</a></td>
      <td>2.0000</td>
      <td>1.0000</td>
      <td>2.0000</td>
      <td>2</td>
      <td><a href=/player/barks101>barks101</a></td>
    </tr>
    <tr>
      <td>CL4</td>
      <td>[Cleveland Spiders]</td>
      <td>4</td>
      <td>6.9900</td>
      <td>27.96</td>
      <td>34.84</td>
      <td><a href=/player/radfp101>radfp101</a></td>
      <td>2.5000</td>
      <td>1.0000</td>
      <td>4.2500</td>
      <td>8</td>
      <td><a href=/player/radfp101>radfp101</a></td>
    </tr>
    <tr>
      <td>PHILS</td>
      <td>[Philadelphia Quakers, Philadelphia Phillies]</td>
      <td>685</td>
      <td>-0.9968</td>
      <td>-682.84</td>
      <td>60.61</td>
      <td><a href=/player/wiser101>wiser101</a></td>
      <td>7.8409</td>
      <td>2.2161</td>
      <td>4.4496</td>
      <td>30</td>
      <td><a href=/player/yound101>yound101</a></td>
    </tr>
    <tr>
      <td>BS2</td>
      <td>[Boston Reds]</td>
      <td>1</td>
      <td>-34.8400</td>
      <td>-34.84</td>
      <td>-34.84</td>
      <td><a href=/player/chilc101>chilc101</a></td>
      <td>3.0000</td>
      <td>1.0000</td>
      <td>3.0000</td>
      <td>3</td>
      <td><a href=/player/chilc101>chilc101</a></td>
    </tr>
    <tr>
      <td>BLN</td>
      <td>[Baltimore Orioles]</td>
      <td>23</td>
      <td>9.0496</td>
      <td>208.14</td>
      <td>33.92</td>
      <td><a href=/player/orout101>orout101</a></td>
      <td>5.0435</td>
      <td>1.4783</td>
      <td>3.8696</td>
      <td>7</td>
      <td><a href=/player/brods101>brods101</a></td>
    </tr>
    <tr>
      <td>LS3</td>
      <td>[Louisville Colonels]</td>
      <td>26</td>
      <td>-135.6504</td>
      <td>-3526.91</td>
      <td>6.68</td>
      <td><a href=/player/canaj101>canaj101</a></td>
      <td>10.1154</td>
      <td>1.0769</td>
      <td>1.4615</td>
      <td>6</td>
      <td><a href=/player/stras101>stras101</a></td>
    </tr>
    <tr>
      <td>WSN</td>
      <td>[Washington Senators]</td>
      <td>15</td>
      <td>-13.4893</td>
      <td>-202.34</td>
      <td>1.42</td>
      <td><a href=/player/crooj101>crooj101</a></td>
      <td>6.6667</td>
      <td>1.4667</td>
      <td>3.2667</td>
      <td>12</td>
      <td><a href=/player/richd101>richd101</a></td>
    </tr>
    <tr>
      <td>YANKS</td>
      <td>[Baltimore Orioles, New York Yankees]</td>
      <td>814</td>
      <td>-0.2236</td>
      <td>-182.05</td>
      <td>85.66</td>
      <td><a href=/player/zinng101>zinng101</a></td>
      <td>12.0246</td>
      <td>3.1229</td>
      <td>5.5197</td>
      <td>34</td>
      <td><a href=/player/zinng101>zinng101</a></td>
    </tr>
    <tr>
      <td>ORLS</td>
      <td>[Milwaukee Brewers, St.Louis Browns, Baltimore Orioles]</td>
      <td>651</td>
      <td>6.6368</td>
      <td>4320.55</td>
      <td>80.20</td>
      <td><a href=/player/mossl101>mossl101</a></td>
      <td>21.0415</td>
      <td>5.2581</td>
      <td>7.9078</td>
      <td>47</td>
      <td><a href=/player/kramj101>kramj101</a></td>
    </tr>
    <tr>
      <td>TWINS</td>
      <td>[Washington Senators, Minnesota Twins]</td>
      <td>522</td>
      <td>0.1546</td>
      <td>80.70</td>
      <td>36.42</td>
      <td><a href=/player/lelij101>lelij101</a></td>
      <td>7.4770</td>
      <td>2.2414</td>
      <td>4.0211</td>
      <td>24</td>
      <td><a href=/player/wardg001>wardg001</a></td>
    </tr>
    <tr>
      <td>BLF</td>
      <td>[Baltimore Terrapins]</td>
      <td>3</td>
      <td>-0.8700</td>
      <td>-2.61</td>
      <td>-0.08</td>
      <td><a href=/player/doolm101>doolm101</a></td>
      <td>2.3333</td>
      <td>1.0000</td>
      <td>0.3333</td>
      <td>1</td>
      <td><a href=/player/doolm101>doolm101</a></td>
    </tr>
    <tr>
      <td>BRF</td>
      <td>[Brooklyn Tip-Tops]</td>
      <td>1</td>
      <td>1.8700</td>
      <td>1.87</td>
      <td>1.87</td>
      <td><a href=/player/chouf101>chouf101</a></td>
      <td>2.0000</td>
      <td>1.0000</td>
      <td>5.0000</td>
      <td>5</td>
      <td><a href=/player/chouf101>chouf101</a></td>
    </tr>
    <tr>
      <td>CHF</td>
      <td>[Chicago Whales]</td>
      <td>2</td>
      <td>0.3700</td>
      <td>0.74</td>
      <td>0.66</td>
      <td><a href=/player/blacd102>blacd102</a></td>
      <td>2.5000</td>
      <td>1.0000</td>
      <td>1.0000</td>
      <td>1</td>
      <td><a href=/player/blacd102>blacd102</a></td>
    </tr>
    <tr>
      <td>MARLNS</td>
      <td>[Florida Marlins, Miami Marlins]</td>
      <td>233</td>
      <td>-6.2099</td>
      <td>-1446.91</td>
      <td>16.87</td>
      <td><a href=/player/orsuj001>orsuj001</a></td>
      <td>14.0815</td>
      <td>3.4077</td>
      <td>5.0901</td>
      <td>26</td>
      <td><a href=/player/berua001>berua001</a></td>
    </tr>
    <tr>
      <td>ANGELS</td>
      <td>[Los Angeles Angels, California Angels, Anaheim Angels]</td>
      <td>391</td>
      <td>1.0637</td>
      <td>415.90</td>
      <td>58.72</td>
      <td><a href=/player/fregj101>fregj101</a></td>
      <td>5.6087</td>
      <td>1.7852</td>
      <td>2.8517</td>
      <td>22</td>
      <td><a href=/player/paepd101>paepd101</a></td>
    </tr>
    <tr>
      <td>BREWRS</td>
      <td>[Seattle Pilots, Milwaukee Brewers]</td>
      <td>364</td>
      <td>-0.3671</td>
      <td>-133.64</td>
      <td>34.74</td>
      <td><a href=/player/clarr103>clarr103</a></td>
      <td>8.8929</td>
      <td>2.5027</td>
      <td>3.2170</td>
      <td>20</td>
      <td><a href=/player/shefg001>shefg001</a></td>
    </tr>
    <tr>
      <td>NATEX</td>
      <td>[Montreal Expos, Washington Nationals]</td>
      <td>407</td>
      <td>-1.1696</td>
      <td>-476.02</td>
      <td>40.56</td>
      <td><a href=/player/joneb002>joneb002</a></td>
      <td>6.3292</td>
      <td>1.9902</td>
      <td>3.8305</td>
      <td>25</td>
      <td><a href=/player/cartj002>cartj002</a></td>
    </tr>
    <tr>
      <td>RNGRS</td>
      <td>[Washington Senators, Texas Rangers]</td>
      <td>512</td>
      <td>-2.6072</td>
      <td>-1334.87</td>
      <td>38.76</td>
      <td><a href=/player/mahar001>mahar001</a></td>
      <td>10.5801</td>
      <td>2.9023</td>
      <td>4.3379</td>
      <td>31</td>
      <td><a href=/player/sisld102>sisld102</a></td>
    </tr>
    <tr>
      <td>RSOX</td>
      <td>[Boston Red Sox]</td>
      <td>691</td>
      <td>-2.3770</td>
      <td>-1642.48</td>
      <td>59.40</td>
      <td><a href=/player/tinsl001>tinsl001</a></td>
      <td>10.5181</td>
      <td>2.6628</td>
      <td>4.6556</td>
      <td>28</td>
      <td><a href=/player/schll101>schll101</a></td>
    </tr>
    <tr>
      <td>WSOX</td>
      <td>[Chicago White Sox]</td>
      <td>718</td>
      <td>1.9646</td>
      <td>1410.59</td>
      <td>70.11</td>
      <td><a href=/player/lopae101>lopae101</a></td>
      <td>12.2396</td>
      <td>3.4749</td>
      <td>5.1435</td>
      <td>28</td>
      <td><a href=/player/haynj101>haynj101</a></td>
    </tr>
    <tr>
      <td>INDINS</td>
      <td>[Cleveland Indians]</td>
      <td>744</td>
      <td>-1.8117</td>
      <td>-1347.90</td>
      <td>93.46</td>
      <td><a href=/player/dybzj001>dybzj001</a></td>
      <td>9.4664</td>
      <td>2.8616</td>
      <td>4.9032</td>
      <td>38</td>
      <td><a href=/player/heidj101>heidj101</a></td>
    </tr>
    <tr>
      <td>TIGRS</td>
      <td>[Detroit Tigers]</td>
      <td>561</td>
      <td>0.8484</td>
      <td>475.97</td>
      <td>54.50</td>
      <td><a href=/player/philr101>philr101</a></td>
      <td>8.6061</td>
      <td>2.2799</td>
      <td>4.0481</td>
      <td>28</td>
      <td><a href=/player/philr101>philr101</a></td>
    </tr>
    <tr>
      <td>ASTROS</td>
      <td>[Houston Astros]</td>
      <td>412</td>
      <td>-2.0086</td>
      <td>-827.55</td>
      <td>30.77</td>
      <td><a href=/player/schlj101>schlj101</a></td>
      <td>7.7136</td>
      <td>2.2282</td>
      <td>3.9563</td>
      <td>29</td>
      <td><a href=/player/suttd001>suttd001</a></td>
    </tr>
    <tr>
      <td>ROYALS</td>
      <td>[Kansas City Royals]</td>
      <td>315</td>
      <td>0.8151</td>
      <td>256.75</td>
      <td>70.61</td>
      <td><a href=/player/foy-j101>foy-j101</a></td>
      <td>4.7302</td>
      <td>1.5556</td>
      <td>3.2159</td>
      <td>26</td>
      <td><a href=/player/brewb001>brewb001</a></td>
    </tr>
    <tr>
      <td>MARNRS</td>
      <td>[Seattle Mariners]</td>
      <td>365</td>
      <td>-1.4810</td>
      <td>-540.58</td>
      <td>60.55</td>
      <td><a href=/player/langm001>langm001</a></td>
      <td>7.0630</td>
      <td>2.1096</td>
      <td>2.5534</td>
      <td>26</td>
      <td><a href=/player/campm001>campm001</a></td>
    </tr>
    <tr>
      <td>RAYS</td>
      <td>[Tampa Bay Devil Rays]</td>
      <td>186</td>
      <td>1.2242</td>
      <td>227.70</td>
      <td>44.89</td>
      <td><a href=/player/huffa001>huffa001</a></td>
      <td>6.6720</td>
      <td>1.9355</td>
      <td>2.7258</td>
      <td>16</td>
      <td><a href=/player/fortb001>fortb001</a></td>
    </tr>
    <tr>
      <td>BJAYS</td>
      <td>[Toronto Blue Jays]</td>
      <td>310</td>
      <td>0.4169</td>
      <td>129.25</td>
      <td>37.66</td>
      <td><a href=/player/diazr001>diazr001</a></td>
      <td>6.6194</td>
      <td>1.8000</td>
      <td>3.2548</td>
      <td>22</td>
      <td><a href=/player/hillg001>hillg001</a></td>
    </tr>
    <tr>
      <td>DBACKS</td>
      <td>[Arizona Diamondbacks]</td>
      <td>223</td>
      <td>-3.0343</td>
      <td>-676.65</td>
      <td>29.90</td>
      <td><a href=/player/garck002>garck002</a></td>
      <td>8.8610</td>
      <td>2.2825</td>
      <td>3.6637</td>
      <td>14</td>
      <td><a href=/player/fabrj001>fabrj001</a></td>
    </tr>
    <tr>
      <td>CUBS</td>
      <td>[Chicago Cubs]</td>
      <td>802</td>
      <td>1.2093</td>
      <td>969.84</td>
      <td>74.60</td>
      <td><a href=/player/cardd101>cardd101</a></td>
      <td>7.6060</td>
      <td>2.1808</td>
      <td>3.7668</td>
      <td>25</td>
      <td><a href=/player/holtk101>holtk101</a></td>
    </tr>
    <tr>
      <td>ROCKS</td>
      <td>[Colorado Rockies]</td>
      <td>179</td>
      <td>-1.1072</td>
      <td>-198.19</td>
      <td>21.29</td>
      <td><a href=/player/millj002>millj002</a></td>
      <td>6.5140</td>
      <td>2.0447</td>
      <td>2.1061</td>
      <td>16</td>
      <td><a href=/player/wrigj001>wrigj001</a></td>
    </tr>
    <tr>
      <td>PADRS</td>
      <td>[San Diego Padres]</td>
      <td>518</td>
      <td>-1.8568</td>
      <td>-961.81</td>
      <td>47.25</td>
      <td><a href=/player/brumm001>brumm001</a></td>
      <td>11.1255</td>
      <td>3.0579</td>
      <td>4.2896</td>
      <td>28</td>
      <td><a href=/player/harrg002>harrg002</a></td>
    </tr>
    <tr>
      <td>METS</td>
      <td>[New York Mets]</td>
      <td>548</td>
      <td>0.5132</td>
      <td>281.23</td>
      <td>67.36</td>
      <td><a href=/player/griet101>griet101</a></td>
      <td>9.1496</td>
      <td>2.5912</td>
      <td>4.2737</td>
      <td>42</td>
      <td><a href=/player/milnj101>milnj101</a></td>
    </tr>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
$('#franchises').DataTable();
$('#franchises').show();
} );
</script>

</body>
</html>